@import "compass/reset";
@import "compass/css3";


$blackBorder: 1px solid #000;
$margin: 10px 5px;
$white: #fafafa;
$red: #d9534f;
$yellow: #f0ad4e;
$green: #5cb85c;

/*Ich könnte theoretisch auch bei "float: left;" eine Variable anlegen, da diese zweimal vorkommt, aber ist in meinen Augen eher mehr Aufwand, wenn ich $floatLeft anlege */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Open Sans', sans-serif;
}

/* dies ist ein kommentar */
#main {
  width: 990px;
  margin: 0 auto;
}


input[type="text"], input[type="password"] {
  border: $blackBorder;
  padding: 5px;
  margin: $margin;

  width: 180px;
}

input[type="submit"] {
  border: $blackBorder;
  border-radius: 0;
  background-color: $white;
  margin: $margin;
  cursor: pointer;
}

label {
  margin-left: 5px;
}

.passwordField {
  width: 300px;
  float: left;
}

.passwordFeedback {
  width: 250px;
  float: left;
}

.feedback {
  margin: $margin;
  font-size: 11px;
  font-weight: 600;

  .error {
    color: $red;
  }

  .warning {
    color: $yellow;
  }

  .success {
    color: $green;
  }
}

.strengthIndicator {
  margin: $blackBorder;
  width: 200px;
  padding: 5px;
  height: 13px;
  border: 1px solid $white;

  &::before {
    content: "";
    display: block;
    height: 100%;

    -moz-transition-property: width;
    -o-transition-property: width;
    -webkit-transition-property: width;
    transition-property: width;

    -moz-transition-delay: 0;
    -o-transition-delay: 0;
    -webkit-transition-delay: 0;
    transition-delay: 0;

    -moz-transition-duration: 250ms;
    -o-transition-duration: 250ms;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;

    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
  }
}

.passwordWrapper::after {
  content: "";
  display: block;
  clear: both;
  float: none;
}

.error .strengthIndicator::before {
  width: 10%;
  background-color: $red;
}

.warning .strengthIndicator::before {
  width: 60%;
  background-color: $yellow;
}

.success .strengthIndicator::before {
  width: 100%;
  background-color: $green;
}

.feedback.error, .feedback.warning, .feedback.success {
  display: none;
}

.error .feedback.error {
  display: block;
}

.warning .feedback.warning {
  @extend .feedback.error;
}

.success .feedback.success {
  @extend .feedback.error;
}

